<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File Tutorial</title>
</head>
<body>

<div>
  <form action="/posts" method="POST" enctype="multipart/form-data">
    <b>File Upload:</b>
    <input type="file" name="codeFile" />
    <input type='text' name="message" />
    <button type="submit">Upload</button>
  </form>
</div>

</body>
</html>